$base-color: #00b0ff;
$base-color-dark: #0081cb;
$base-color-light: #69e2ff;

.landing-page-container{
  display: grid;
  height: 95vh;
  width: 100%;
  grid-template-rows: 1fr 1fr 1fr ;
  grid-template-columns: 1fr 1fr 1fr;
}

.title-and-motto-box{
  grid-row: 1/2;
  grid-column: 1/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.logo{
  height: 200px;
  width: 200px;
  background-image: asset-data-url('stock_tickr_logo.png');
}

.session-form-box{
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.get-started{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border-radius: 5px;
  // border: 1px solid lightgray;

  button{
    margin: 10px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background-color: $base-color-light;
    font-size: 18px;
  }
}