$base-color: #00b0ff;
$base-color-dark: #0081cb;
$base-color-light: #69e2ff;

.session-input-form{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding-top: 10px;
  // background-color: $base-color;
  width: 360px;
  height: 240px;

  input{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    width: 75%;
  }

  button{
    margin-top: 20px;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background-color: $base-color-light;
    font-size: 18px;
  }

  .session-errors{
    position: absolute;
  }
}

.session-back-button{
  position: absolute;
  bottom: 2px;
  left: 2px;
  font-size: 12px;
}
.session-back-button:hover{
  cursor: pointer;
}