.session-input-form{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding-top: 10px;
  background-color: lightblue;
  width: 360px;
  height: 240px;

  input{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    width: 75%;
  }

  button{
    margin-top: 20px;
    border-radius: 5px;
    width: 50%;
    height: 30px;
  }

  .session-errors{
    position: absolute;
  }
}